/* Images */
.vtex-carousel-2-x-container .vtex-store-components-3-x-arrowLeft {
  z-index: 1;
}

@media only screen and (max-width: 30em) {
  .vtex-carousel-2-x-container .vtex-store-components-3-x-arrowLeft:before,
  .vtex-carousel-2-x-container .vtex-store-components-3-x-arrowRight:before {
    display: none;
  }
}

/* Dots */
.vtex-carousel-2-x-container .vtex-store-components-3-x-dots {
  position: relative;
  top: var(--dots-vpos-desktop);
}

.vtex-carousel-2-x-container .vtex-store-components-3-x-dots li button {
  color: var(--elements-color);
}

.vtex-carousel-2-x-container .vtex-store-components-3-x-dots li button:before {
  color: var(--elements-color);
  font-size: var(--dots-size-desktop);
}
.vtex-carousel-2-x-container .vtex-store-components-3-x-dots li.slick-active button:before {
  color: var(--elements-color);
}

@media only screen and (max-device-width: 480px) {
  
  .vtex-carousel-2-x-container .vtex-store-components-3-x-dots {
    position: relative;
    top: var(--dots-vpos-mobile);
  }

  .vtex-carousel-2-x-container .vtex-store-components-3-x-dots li button:before {
    font-size: var(--dots-size-mobile);
  }

}
