.container {
  min-height: 0.625rem;
  min-width: 0.625rem;
}

.containerImg {
  max-height: inherit;
}

.containerDots {}

.notActiveDot {}

.activeDot {}

.slide {}

.sliderRoot {}

.sliderFrame {}

.imgRegular {}

.img {}

@media screen and (min-width: 20em) {
  .dot {
    height: 3vw;
    width: 3vw;
  }
}

@media only screen and (min-width: 40em) {
  .dot {
    height: 1vw;
    width: 1vw;
  }
}
