@import url('~slick-carousel/slick/slick.css');
@import url('~slick-carousel/slick/slick-theme.css');

.vtex-carousel {
  min-width: 10px;
  min-height: 10px;
}

.vtex-carousel .img-container {
  max-height: inherit;
}

.vtex-carousel .img-mobile {
  display: none;
}

/* Arrows */

.vtex-carousel .vtex-carousel-arrow__left:before,
.vtex-carousel .vtex-carousel-arrow__right:before {
  font-size: 3vw;
  color: black;
}

.vtex-carousel .vtex-carousel-arrow__left {
  left: 5%;
  z-index: 1;
  top: 44%;
}
[dir='rtl'] .vtex-carousel .vtex-carousel-arrow__left {
  right: 5%;
  left: auto;
}

.vtex-carousel .vtex-carousel-arrow__right {
  right: 8%;
  top: 44%;
}
[dir='rtl'] .vtex-carousel .vtex-carousel-arrow__right {
  right: auto;
  left: 8%;
}

/* Dots */

.vtex-carousel .vtex-carousel-dots {
  position: relative;
  top: -50px;
}

.vtex-carousel .vtex-carousel-dots li button {
  color: black;
}

.vtex-carousel .vtex-carousel-dots li button:before {
  color: black;
  font-size: 1vw;
}
.vtex-carousel .vtex-carousel-dots li.slick-active button:before {
  color: black;
}

@media only screen and (max-device-width: 480px) {
  .vtex-carousel .vtex-carousel-dots {
    position: relative;
    top: -30px;
  }

  .vtex-carousel .vtex-carousel-dots li button:before {
    font-size: 3vw;
  }

  .vtex-carousel .vtex-carousel-arrow__left:before,
  .vtex-carousel .vtex-carousel-arrow__right:before {
    display: none;
  }

  .vtex-carousel .img-regular {
    display: none;
  }
  .vtex-carousel .img-mobile {
    display: block;
  }
}
